USE [ZooManagement]
GO
/****** Objekt:  UserDefinedFunction [dbo].[tf_MitarbeiterStatistik]    Skriptdatum: 25.08.2026 10:03:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		von der Bank, Maximilian
-- Create date: 25.08.2026
-- Description:	Tabellenwertfunktion, die je Abteilung diverse
--              Mitarbeiter-Kennzahlen liefert (Anzahl Mitarbeiter,
--              durchschnittliche Betriebszugehörigkeit, Ein-/Austritte,
--              Aufteilung nach Mitarbeitertyp und Anzahl betreuter Gehege).
--              Wird @AbteilungID = NULL übergeben, liefert die Funktion
--              die Statistik für ALLE Abteilungen.
-- =============================================
CREATE OR ALTER FUNCTION [dbo].[tf_MitarbeiterStatistik]
(
    @AbteilungID INT = NULL 
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        Abteilung.AbteilungID,
        Abteilung.Abteilungsname,

        COUNT(DISTINCT Mitarbeiter.MitarbeiterID) AS AnzahlMitarbeiter,

        -- Durchschnittliche Betriebszugehörigkeit in Jahren:
        -- Tagesdifferenz zwischen Einstellungsdatum und heute,
        -- gemittelt und durch 365,25 geteilt (Schaltjahre berücksichtigt)
        ROUND(AVG(CAST(DATEDIFF(DAY, Mitarbeiter.Einstellungsdatum, GETDATE()) AS FLOAT)) / 365.25, 1) AS DurchschnittlicheBetriebszugehoerigkeitJahre,

        MIN(Mitarbeiter.Einstellungsdatum) AS AeltesteEinstellung,
        MAX(Mitarbeiter.Einstellungsdatum) AS NeuesteEinstellung,

       
        COUNT(DISTINCT CASE WHEN Mitarbeiter.Mitarbeitertyp IN ('Tierpfleger', 'Tierpflegerin') THEN Mitarbeiter.MitarbeiterID END) AS AnzahlTierpfleger,

       
        COUNT(DISTINCT CASE WHEN Mitarbeiter.Mitarbeitertyp IN ('Handwerker', 'Technischer Leiter','Gärtnerin','Techniker') THEN Mitarbeiter.MitarbeiterID END) AS AnzahlGehegezustaendige,

        
        COUNT(DISTINCT Gehegebetreuung.GehegeID) AS AnzahlBetreuteGehege

    FROM dbo.Abteilung
    -- LEFT JOIN, damit auch Abteilungen angezeigt werden, in denen (noch) kein Mitarbeiter ist
    LEFT JOIN dbo.Mitarbeiter ON Mitarbeiter.AbteilungID = Abteilung.AbteilungID

    -- LEFT JOIN, damit auch Mitarbeiter angezeigt werden, die kein Gehege betreuen
    LEFT JOIN dbo.Gehegebetreuung ON Gehegebetreuung.MitarbeiterID = Mitarbeiter.MitarbeiterID

    WHERE Abteilung.AbteilungID = @AbteilungID OR @AbteilungID IS NULL

    GROUP BY Abteilung.AbteilungID, Abteilung.Abteilungsname
)